<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <contextName>logback</contextName>

    <!-- 可通过 JVM 参数或 application.properties/application.yml 传入 -->
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name" defaultValue="UNKNOWN"/>
    <springProperty scope="context" name="PORT" source="server.port" defaultValue="8080"/>
    <springProperty scope="context" name="FILE_PATH" source="logging.file.path" defaultValue="/data/log"/>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}){} %clr(${PID:-}){magenta} %clr([%X{X-B3-TraceId:-}]){cyan} %clr(--- %esb(){APPLICATION_NAME}%esb{APPLICATION_GROUP}[%15.15t] ${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${APPLICATION_NAME}] [%pid] [%X{X-B3-TraceId:-}] %contextName [%thread] %-5level %logger{36} [%file:%line] - %msg %ex%n"/>

    <!-- 非生产环境 -->
    <springProfile name="default,local,dev,test,lwj">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="cn.alphahub.eport" level="debug"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.alibaba.cloud.nacos.client" level="WARN"/>
        <logger name="com.alibaba.nacos" level="WARN"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FILE_PATH}/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${FILE_PATH}/app.%d{yyyy-MM-dd}.zip</fileNamePattern>
                <maxHistory>15</maxHistory>
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="cn.alphahub.eport" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.alibaba.cloud.nacos.client" level="WARN"/>
        <logger name="com.alibaba.nacos" level="ERROR"/>

        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
